<ion-header>
    <ion-toolbar>
                 <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
              Flores
            </ion-title>
          </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
       <ion-col size="6">
           Tipos de Flores <br>
          <p> As flores são a melhor maneira de deixar a casa transbordando vida e alegria. Além de bonitas, elas são cheirosas e mantêm por perto a companhia agradável de pássaros e borboletas. </p>
Existem diversos tipos de flores e espécies que podem ser cultivadas tanto em vasos, quanto em canteiros. É verdade que cada uma delas exige um cuidado especial. Mas nada que algumas dicas não sejam suficientes para que você possa cultivar a sua flor preferida.
        </ion-col>
        <ion-col size="6">
            Jadins<br>
            <ion-img src="../assets/imagens/jadim.jpg"></ion-img>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
